# Books (Core)
- Amber Kutscher

![png](Data/books-core.png)

In [1]:
!pip install pandas mysql-connector-python

Requirement already satisfied: pandas in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (1.5.3)
Requirement already satisfied: mysql-connector-python in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (8.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: six>=1.5 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [3]:
import json
with open(r"C:\Users\amber\.secret\mysql.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [8]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/books_core"
engine = create_engine(connection)
inspector = inspect(engine)
table_names = inspector.get_table_names()

In [9]:
# Loop through the table names and retrieve and display all the data
for table_name in table_names:
    q = f"SELECT * FROM {table_name}"
    df = pd.read_sql(q, engine)
    
    # Display the table name and data
    print(f"Table Name: {table_name}")
    print(df)
    print("\n")  # Add a separator between tables

Table Name: authors
   author_id        author_name
0          1       Stephen King
1          2  F.Scott Fitgerald
2          3        Jack London
3          4        Jane Austen
4          5       Mary Shelley


Table Name: books
   books_id                 title  author_id
0         1           The Shining          1
1         2                    It          1
2         3      The Great Gatsby          2
3         4  The Call of the Wild          3
4         5   Pride and Prejudice          4
5         6          Frankenstein          5


Table Name: favorites
   users_id  books_id
0         1         1
1         1         2
2         1         3
3         2         4
4         2         5
5         3         5
6         3         6


Table Name: users
   users_id first_name  last_name                 email
0         1       John        Doe          JD@books.com
1         2      Robin      Smith       Robin@books.com
2         3     Gloria  Rodriguez  grodriguez@books.com

In [10]:
query = """SELECT books.title, favorites.users_id
FROM books
JOIN favorites ON books.books_id = favorites.books_id
WHERE favorites.users_id =
    (SELECT users.users_id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"))
"""

In [11]:
pd.read_sql(query, engine)

              title  users_id
0       The Shining         1
1                It         1
2  The Great Gatsby         1