# Books (Core)
- Amber Kutscher

![png](Data/books-core.png)

In [1]:
!pip install pandas mysql-connector-python

Requirement already satisfied: pandas in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (1.5.3)
Requirement already satisfied: mysql-connector-python in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (8.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: six>=1.5 in c:\users\amber\anaconda3\envs\dojo-env\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [3]:
import json
with open(r"C:\Users\amber\.secret\mysql.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [4]:
# Extract the username, password, and database name
username = login["username"]
password = login["password"]
database_name = "books"

In [5]:
connection = f"mysql+pymysql://{username}:{password}@localhost/books"
engine = create_engine(connection)

# Create an inspector to check table existence
inspector = inspect(engine)

In [6]:
# Check if the database exists; if not, create it
if not database_exists(engine.url):
    create_database(engine.url)

In [7]:
database_exists(connection)

True

In [8]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [9]:
# Replace these file paths with the paths to your CSV files
csv_file_paths = [
    "Data/data (authors).csv",
    "Data/data (books).csv",
    "Data/data (favorites).csv",
    "Data/data (users).csv"]

In [10]:
# Create a dictionary to hold DataFrames for each CSV file
dataframes = {}

In [11]:
# Loop through the CSV file paths and read them into DataFrames
for csv_file_path in csv_file_paths:
    # Extract the table name from the file path (assuming file names are formatted like "data (table name).csv")
    table_name = csv_file_path.split('(')[1].split(')')[0].strip()
    
    # Check if the table exists in the database; if not, create it and insert data
    if not inspector.has_table(table_name):
        df = pd.read_csv(csv_file_path)
        df.to_sql(table_name, con=engine, index=False)
    
    # Read the data from the table into a DataFrame
    dataframes[table_name] = pd.read_sql_table(table_name, engine)

# Display all of the retrieved data
for table_name, df in dataframes.items():
    print(f"Data from {table_name} table:")
    print(df)
    print("\n")

# Dispose of the engine
engine.dispose()

Data from authors table:
   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley


Data from books table:
   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4
5   6          Frankenstein          5


Data from favorites table:
   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5
5        3        5
6        3        6


Data from users table:
   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [12]:
# Create separate DataFrames for each CSV file
authors_df = pd.read_csv(csv_file_paths[0])
books_df = pd.read_csv(csv_file_paths[1])
favorites_df = pd.read_csv(csv_file_paths[2])
users_df = pd.read_csv(csv_file_paths[3])

In [14]:
# Check if the tables exist; if not, create them and insert data
if not inspector.has_table("authors"):
    authors_df.to_sql("authors", con=engine, index=False)

if not inspector.has_table("books"):
    books_df.to_sql("books", con=engine, index=False)

if not inspector.has_table("favorites"):
    favorites_df.to_sql("favorites", con=engine, index=False)

if not inspector.has_table("users"):
    users_df.to_sql("users", con=engine, index=False)

In [15]:
# Create a list to hold DataFrames for each CSV
## dataframes = []

In [16]:
# Read each CSV file and store it in the dataframes list
## for csv_file_path in csv_file_paths:
   ## df = pd.read_csv(csv_file_path)
    ## dataframes.append(df)

In [23]:
# Execute the SQL query to list John Doe's favorite books
query = """
SELECT books.title
FROM books
JOIN favorites ON books.id = favorites.book_id
JOIN users ON favorites.user_id = users.id
WHERE users.first_name = "John" AND users.last_name = "Doe"
"""

In [24]:
favorite_books = pd.read_sql_query(query, engine)

In [25]:
# Print the list of John Doe's favorite books
print(favorite_books)

              title
0       The Shining
1                It
2  The Great Gatsby

In [26]:
# Dispose of the engine
engine.dispose()