# Books (Core)
- Amber Kutscher

<img src='Data/books-core.png'>

In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [2]:
import json
with open(r"C:\Users\amber\.secret\mysql.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/books_core"
engine = create_engine(connection)

In [4]:
q = """SELECT books.title, favorites.user_id
FROM users
JOIN favorites ON users.id = favorites.user_id
JOIN books ON favorites.book_id = books.id
WHERE users.last_name = "Doe" AND users.first_name = "John"
"""

In [5]:
pd.read_sql(q, engine)

         title  user_id
0  The Shining        1